name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  policy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6
      - name: Install Conftest
        run: |
          curl -L -o conftest.tar.gz https://github.com/open-policy-agent/conftest/releases/download/v0.55.0/conftest_0.55.0_Linux_x86_64.tar.gz
          tar -xzf conftest.tar.gz
          sudo mv conftest /usr/local/bin/conftest
      - name: Terraform fmt
        run: terraform fmt -check -recursive
      - name: Terraform validate (examples)
        run: |
          for dir in examples/azure-secure-landing-zone examples/aws-secure-baseline; do
            terraform -chdir=$dir init -backend=false
            terraform -chdir=$dir validate
          done
      - name: Conftest unit tests
        run: conftest test policy/tests
